@charset 'utf-8';

.local-nav{float:left;width:240px;}
.local-nav li{font-weight:900;font-size:24px;}
.local-nav li a{color:#333;}
.local-nav li a.active{color:#b5121b;}
.local-contents{float:right;width:720px;}
.local-contents h1{font-size:32px;font-weight:700;color:#b5121b;}